<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Atributos</h1>

    <ul>
        <li>autocomplete: permite autocompletar</li>
        <li>autofocus: al momento de cargar la pag recibe el foco</li>
        <li>placeholder: texto grisado que sirve como guia</li>
        <li>name: nombre con el que se identifica al elemento</li>
        <li>id: idenificador unico</li>
        <li>required: campo requerido</li>
        <li>pattern: recibe expresiones regulares</li>
        <li>multiple: permite subir mas de un archivo</li>
        <li>disabled: deshabilita el campo</li>
        <li>readonly: campo de solo lectura</li>
        <li>value: se le asigna un valor por defecto</li>


    </ul>
</body>
</html>