<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Citas y referencias</title>
</head>
<body>
    <h1>Quotes: Citas y Referencias</h1>

    <!-- q se usa para citar un autor -->
    <p>Steve Jobs decia: <q>Lo que separa a los emprendedores del resto es la perseverancia.</q></p>
    <!-- abbr sirve para abreviar -->
    <p>Las tecnilogias que debemos saber para ser maquetadores son: <abbr title="Hiper Text Markup Language">HTML</abbr> y <abbr title="Cascade Style Sheet">CSS</abbr></p>
    <!-- address para firmar un documento -->
    <address>
        Escrito por Pablo Monge,
        Mendoza - Argentina
    </address>
    <!-- cite nos sirve para citar a alguien importante -->
    <p><cite>El Grito</cite> de Eduart Munch fue pintado en 1893</p>
    <!-- Invierte el texto - No se suele utilizar -->
    <bdo dir="rtl">Este texto se va a leer al reves en el navegador, =)</bdo>

</body>
</html>