<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Elementos tipo linea</h4>

        <a>.- etiqueta de enlace.</li>  
        <code>.- para fragmentos de código.
        <em>.- Texto importante (se ve en cursiva, por defecto, texto con énfasis).
        <i>.- etiqueta para texto en cursiva (texto en cursiva sin énfasis).
        <img>.- para imagenes.
        <input>.- campos de formulario.
        <span>.- fragmentes de contenido.
        <strong>.- texto fuerte.
        <sub>.- para texto subíndice.
        <sup>.- texto superíndice.
        <u>.- para subrayar texto.
        <abbr>.- abreviatura
        <button>, 
        <input> 
        <label>
        <select>
        <textarea>

    <h4>Elementos de bloque</h4>

        <address>
        Información de contacto.
        
        <article>
        Contenido de Articulo.
        
        <aside>
        Contenido adicional.
        
        <audio>
        Reproductor de audio
        
        <blockquote>
        Bloque de "cita".
        
        <canvas>
        Dibujo canvas.
        
        <dd>
        Descripción de definición.
        
        <div>
        División de documento.
        
        <dl>
        Lista de definición.
        
        <fieldset>
        Etiqueta de conjunto de campos.
        
        <figcaption>
        Leyenda de figura.
        
        <figure>
        Grupos contenido multimedia con una leyenda (ver <figcaption>).
        
        <footer>
        Sección o pie de página.
        
        <form>
        Formulario de entrada.
        
        <h1> (en-US), <h2> (en-US), <h3> (en-US), <h4> (en-US), <h5> (en-US), <h6> (en-US)
        Niveles de cabecera 1-6.
        
        <header>
        Sección o cabecera de página.
        
        <hgroup>
        Grupos información de encabezado.
        
        <hr>
        Regla Horizontal (línea divisoria).
        
        <li>
        Elemento de lista.
        
        <main>
        Engloba el único contenido central del documento.
        
        <nav>
        Contiene enlaces de navegación.
        
        <noscript>
        Contenido para ser usado si los scripts no son soportados o permitidos.
        
        <ol>
        Lista ordenada.
        
        <output> (en-US)
        Formulario de salida.
        
        <p>
        Párrafo.
        
        <pre>
        Texto preformateado.
        
        <section>
        Sección de una página web.
        
        <table>
        Tabla.
        
        <tfoot> (en-US)
        Pie de tabla.
        
        <ul>
        Lista no ordenada.
        
        <video>
        Reproductor de vídeo.
        
        
</body>
</html>