<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - estilos en linea</title>
</head>
<body>
    <h1 style="text-align: center; color:chocolate;" >Estilos en línea</h1>
    <p style="text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque saepe sint qui nemo voluptatum rerum aliquid autem! Eum soluta ipsam quidem adipisci, placeat quae nulla impedit cum commodi, cupiditate voluptates?</p>

    <p style=" text-align:center; border:crimson; border:solid; size: 14px; color:rgba(255, 0, 0, 0.578);">Los estilos en linea no son recomendables, se pueden utilizar excepcionalmente, pero lo mejor es importarlos desde un archivo de estilos.</p>
    
</body>
</html>