<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Formatos de texto</title>
</head>
<body>
    
    <h1>Formatos de Texto:</h1>

    <!-- B de bold (negrita) -->
    <p>Lorem ipsum <b>dolor</b> sit, amet consectetur adipisicing elit. Nisi facere voluptas dicta odio corrupti </p>
    <!-- I de italic -->
    <p>Lorem ipsum, dolor sit amet consectetur <i>adipisicing eli</i>. Tempore, non iure doloremque maxime </p>
    <!-- La etiqueta strong le da importancia a la palabra y la pone en negrita -->
    <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Voluptates in rem odio dolori</p>
    <!-- La etiqueta em le da importancia a la palabra y la pone en italica -->
    <p>Lorem, ipsum dolor sit <em>amet consectetur adipisicing elit.</em> Ipsum quam adipisci quia pariatur</p>
    <!-- small hace al texto pequeño -->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <small>Quam, dolor obcaecati reiciendis nesciunt aperiam voluptatibus magni officiis cumque consectetur</small> veniam dicta ut recusandae doloribus et id alias est accusantium eos.</p>
    <!-- del sirve para mostrar texto tachado -->
    <p>El archivo se ha eliminado: <del>requirements.txt</del></p>
    <!-- ins (inserted) subrayara el texto -->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <ins>Optio soluta totam aspernatur unde possimus laborum nemo ducimus maiores iusto libero. Possimus autem</ins> odio mollitia ducimus, quibusdam distinctio iste dolorum ad!</p>
    <!-- sub (subíndice) -->
    <p>La formula del agua es H<sub>2</sub>O</p>
    <!-- sup (superindice)  -->
    <p>El teorema de pitagoras es: a<sup>2</sup> + b<sup>2</sup> = h<sup>2</sup></p>
    <!-- mark hara resaltar el texto -->
    <p>Recuerda intentarlo <mark>otra vez</mark></p>

</body>
</html>