<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Multimedia de terceros</h1>

    <h4>Videos de youtube</h4>
     
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/XfR9iY5y94s?si=R9tXUskIkV-oUx7Z" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>

    <br>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/djV11Xbc914?si=8h-RELKiuFRYo3ho" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
    <br>

    <h4>Mapas de Google maps</h4>

    <br>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6700.651279043314!2d-68.8477578867265!3d-32.889557546379855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0907b3f6324b%3A0x501d1521958dfb21!2sPlaza%20Independencia!5e0!3m2!1ses!2sar!4v1711662255527!5m2!1ses!2sar" 
        width="400" 
        height="300" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

</body>
</html>