<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Listas</title>
</head>
<body>
    
    <h1>Listas en HTML</h1>

    <h2>Listas desordenadas</h2>

    <h3>Comidas que me gustan</h3>

    <ul>
        <li>Tacos mexicanos</li>
        <li>Asado argentino</li>
        <li>Arepas colombianas</li>
    </ul>

    <h2>Listas ordenadas</h2>

    <h3>Actividades durante el dia</h3>

    <ol>
        <li>Levantarnos</li>
        <li>Ir a estudiar</li>
        <li>Comer</li>
        <li>Dormir</li>
    </ol>

</body>
</html>