<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Otros inputs</title>
</head>
<body>
    
    <h1>Otros Inputs</h1>

    <form action="" method="get">
        <label for="color">Selecciona un color</label>
        <input type="color" name="color" id="color">
        <br>
        
        <label for="date">Elige una fecha</label>
        <input type="date" name="date" id="date">
        <br>
        
        <label for="time">Seleccionar una hora</label>
        <input type="time" name="time" id="time">
        <br>

        <label for="number">Elige un número</label>
        <input type="number" name="number" id="number" min="3" max="7">
        <br>

        <label for="range">Elige un rango</label>
        <input type="range" name="range" id="range" min="1" max="10">
        <br>

        <label for="file">Seleccionar un archivo</label>
        <input type="file" name="file" id="file">
        <br>

        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>