<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - parrafos</title>
</head>
<body>
    <h1>Parrafos</h1>

    <p> <!-- Ocupan todo el ancho que le permite el padre (es decir, el contenedor en el cual se encuentre) -->
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quas non atque dolorem consequatur laboriosam sequi, repudiandae totam hic voluptatibus culpa temporibus possimus mollitia, maiores repellat optio est ullam facilis.
    </p> 

    <hr>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis aut eos, ullam ex consequatur deserunt, ipsa, perferendis cum voluptatibus optio neque sunt enim officiis distinctio fugiat a repellendus alias molestias.
    </p>

    <br>

    <pre> <!-- Texto predefinido, se muestra en el navegador tal cual está en el editor -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Necessitatibus nisi delectus, cum omnis perferendis eos, error deserunt hic deleniti ut nesciunt nihil voluptatibus accusamus aliquid voluptates maxime molestiae facilis neque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Temporibus modi libero veritatis, dolore minus repellat vel repellendus asperiores facilis quidem molestias dignissimos molestiae non ex illo, exercitationem ea enim ad.
    </pre>

</body>
</html>