<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - tablas</title>
</head>
<body>
    
    <h1>Tablas en HTML</h1>

    <table>
        <colgroup>
            <col span="1" style="background-color: antiquewhite;">
        </colgroup>
        <tr>        <!-- Etiqueta de fila -->
            <th>Alumnos</th>
            <th colspan="2">Nombre y Apellido</th>
            <th>Notas</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Pedro</td>
            <td>Perez</td>
            <td>8</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rodrigo</td>
            <td>Gonzalez</td>
            <td>9</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Humberto</td>
            <td rowspan="2">Velez</td>
            <td>7</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Cecilia</td>
            <td>10</td>
        </tr>
    </table>

</body>
</html>